.pitBox{
    position: relative;
    display:inline-flex;
    
    margin: 5px;

    width:20%;
    height: 20%;
    max-width: 150px;
    max-height: 150px;
    box-sizing: border-box;
    border:black solid 2px;

    /* overflow: hidden; */
}

.pitImg{
    height: 30%;
    width: 100%;

    align-self: flex-end;
    position: absolute;
}
